# Ignore node_modules in all folders
node_modules/
**/.env
back/uploads/

# Ignore lock files (optional, keeps package managers flexible)
package-lock.json
yarn.lock

# Ignore build files (if applicable)
front/build/
back/build/
